<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletDemo</display-name>
  <servlet>
    <servlet-name>servlet_1</servlet-name>
    <servlet-class>com.bai.servlet.servlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_1</servlet-name>
    <url-pattern>/servlet_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>com.bai.servlet.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseDemo01</servlet-name>
    <servlet-class>com.bai.servlet.ResponseDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo01</servlet-name>
    <url-pattern>/ResponseDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUpload1</servlet-name>
    <servlet-class>com.bai.servlet.FileUpload1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload1</servlet-name>
    <url-pattern>/FileUpload1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DrawImage</servlet-name>
    <servlet-class>com.bai.servlet.DrawImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawImage</servlet-name>
    <url-pattern>/servlet/DrawImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.bai.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/servlet/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>com.bai.servlet.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>com.bai.servlet.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/servlet/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo3</servlet-name>
    <servlet-class>com.bai.servlet.RequestDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo3</servlet-name>
    <url-pattern>/servlet/RequestDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieDemo1</servlet-name>
    <servlet-class>com.bai.servlet.CookieDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDemo1</servlet-name>
    <url-pattern>/servlet/CookieDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>com.bai.servlet.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/servlet/SessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoFormServlet</servlet-name>
    <servlet-class>com.bai.servlet.DoFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoFormServlet</servlet-name>
    <url-pattern>/servlet/DoFormServlet</url-pattern>
  </servlet-mapping>
  <error-page>
  	<error-code>404</error-code>
  	<location>/ErrorPage/404error.jsp</location>
  </error-page>
</web-app>